@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --mainFont: 'Poppins', sans-serif;
  --mainColor: #f8f9fa;
  --secondColor: #283042;
}

/* Navbar & Sidebar */
.navbar-nav {
  font-family: var(--mainFont);
}

/* Hamburger Menu */
.navbar-toggler,
.navbar-close {
  border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}
.toggler-icon,
.sidebar-icon {
  height: 2px;
  width: 25px;
  display: block;
  background-color: var(--secondColor);
  transition: all 0.5s;
}
.sidebar-icon {
  background-color: red !important;
}
.middle-bar,
.middle-close-bar {
  margin: 5px auto;
}

.navbar-close .top-close-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-close .middle-close-bar {
  opacity: 0;
}
.navbar-close .bottom-close-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}
/* Hamburger Menu */

/* Hero */
#hero {
  padding-top: 1.5rem;
}
/* Hero */

/* Product */
.top-up,
.voucher-game {
  font-family: var(--mainFont);
}

.top-up .card img:hover,
.voucher-game .card img:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px 5px #222;
}
/* Product */

/* Footer */
#footer {
  background-color: var(--mainColor);
  font-family: var(--mainFont);
}
/* Footer */

/* Hak Cipta */
.copyright .row p {
  font-family: var(--mainFont);
}
/* Hak Cipta */

/* Whatsapp & Scroll Top */
.contact {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: var(--mainColor);
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 8px;
  z-index: 9999;
}
.contact span {
  font-size: 32px;
  color: green;
}
.to-top {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: rgb(177, 177, 236);
  position: fixed;
  display: flex;
  bottom: 28px;
  left: 20px;
  z-index: 9999;
}
/* Whatsapp & Scroll Top */
